::-webkit-scrollbar {
	display: none
}

.scrollable-item {
    display: flex;
    gap: 2em;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 2em 0
}
    
.scrollable-item .items-region {
    background: white;
    width: 20em;
    height: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 20px;
    cursor: pointer;
}
    
.items-region .thumbnail-region {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.4s ease;
    z-index: 3;
    position: relative
}
    
.items-region .thumbnail-region:hover {
    transform: translateY(-20px);
    transition: transform 0.4s ease
}
    
.items-region .descriptions {
    padding: 0.75em 2em
}

.popup-page {
	position: fixed;
top: 5em;
	width: 100%;
	height: 100vh;
	background: #00000090;
	z-index: 20;
	box-sizing: border-box;
	animation: pop-in 0.8s ease;
	animation-fill-mode: both;
}

.popup-page .modal-inner {
	background: #fafafa;
	height: 100%;
	display: flex;
	gap: 1em
}

.modal-inner .right-side {
	box-sizing: border-box;
	padding: 2em;
	width: 100%
}

.right-side i {
	transform: rotate(45deg) scale(1.25);
	padding-top: 2em;
	float: right;
}

.modal-inner .left-side {
	box-sizing: border-box;
	overflow: hidden;
	padding: 4em 1em;
	flex-grow: 0;
	flex-shrink: 0
}

.right-side p {
	text-align: left;
	font-family: "Roboto", Sans-serif;
	font-size: 20px;
}

.right-side .long {
	font-size: 12px;
	max-width: 70%
}

.right-side h3 {
	font-family: "Roboto", Sans-serif;
	font-weight: 700;
	font-size: 24px;
	padding-top: 5em;
}

.left-side {
	box-sizing: border-box;
}

.left-side img {
	height: 90%;
	width: 50em;
	object-fit: cover;
	border-radius: 20px;
}

.left-side .pr {
	object-fit: contain;
	background: #fff;
}

@media only screen and (max-width: 800px) {
	.popup-page {
		top: 0
	}
	.popup-page .modal-inner {
		flex-direction: column;
	}
	
	.modal-inner .left-side {
		padding: 1em
	}
	
	.modal-inner .right-side {
		padding: 1em;
		padding-top: 0 !important;
	}

	.right-side p {
		font-size: 18px;
	}

	.right-side h3 {
		padding-top: 0;
	}

	.right-side .long {
		max-width: 100%;
	}
	
	.left-side img {
		width: 100%;
		height: 40vh;
		object-fit: cover;
		border-radius: 20px;
	}
	.right-side i {
		padding-top: 0
	}

	.scrollable-item .items-region {
width: 14em;
		gap: 1em;
	}
}

@keyframes pop-out {
	0% {
		transform: translateY(0);
	} 100% {
		transform: translateY(80em);
	}
	
}

@keyframes pop-in-over {
	0% {
		transform: translateY(20em);
		opacity: 0;
	} 100% {
		transform: translateY(0);
		opacity: 1;
	}
	
}

@keyframes pop-in {
	0% {
		transform: translateY(80em);
	} 100% {
		transform: translateY(0);
	}
	
}

@keyframes fade-out {
	0% {
		opacity: 1
	} 100% {
		opacity: 0
	}
}

@keyframes fade-in {
	0% {
		opacity: 0
	} 100% {
		opacity: 1
	}
}

.pad-0 {
	padding: 1em !important;
}


.pad-top-0 {
	padding-top: 4em !important;
}

.overflow-none {
	overflow: auto !important;
}

.ft-5 {
	font-size: 17px !important;
}
